.header {
    font-size: 40px;
}

.loginForm{
    font-size: 20px;
    position: absolute;
    left: 40%;
    text-align: center;
 
}
.signupButton{
    color: pink;
    position: absolute;
    top: 30%; 
    left: 45%;
    text-align: center;
}

.loginBox{
   display: block;

}
.map-container {
    height: 600px;
}

.itemCards{
    border: 2px solid black
}

.cardImages{
    max-width: 250px;
    max-height: 300px;
}

.itemForm {
color: blue;
}