.header {
    /* font-size: 20px; */
    justify-content: right;
    position: relative;
    display: inline;
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
    
}
.headerText{
    position: relative; 
    justify-content: center;
    color: #00AFB9;
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
}

.headerPic{
    height:50px;
    width: 50px;
    justify-content: inline;
    float: left;


}

.loginForm{
    font-size: 20px;
    position: absolute;
    left: 40%;
    text-align: center;
 
}
.signupButton{
    color: pink;
    position: absolute;
    top: 30%; 
    left: 45%;
    text-align: center;
}

.loginBox{
   display: block;

}
.map-container {
    height: 550px;
    width: 50%;

}

.itemCards{
    border: 2px solid black
}

.cardImages{
    max-width: 250px;
    max-height: 300px;
}

.itemForm {
color: blue;
}
.orgContainer{
    color: black;
    width: 50%;
}
