@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    font-family: 'Poppins';

}
.header {
    /* font-size: 20px; */
    justify-content: center;
    position: relative;
    /* display: inline; */
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;

    
}
.headerText{
    position: relative; 
    justify-content: center;
    color: #00AFB9;
    margin: auto;
    width: 50%;
    padding: 10px;
}

.headerPic{
    height:50px;
    width: 50px;
    justify-content: inline;
    float: left;


}
.itemForm{
    text-align: center;
    justify-content: center;
    /* max-width: 500px;
    max-height: 500px ; */
}

.loginForm, 
.signUp{
    font-size: 20px;
    position: absolute;
    left: 40%;
    text-align: center;
    border-radius: 10px;
    border: 1px solid #044700;
    padding-left: 40px;
    padding-right: 40px;
    margin: 10px;
 
}
.signupButton{
    color: pink;
    position: absolute;
    top: 30%; 
    left: 45%;
    text-align: center;
}

.loginBox{
   display: block;

}
.map-container {
    height: 550px;
    width: 50%;
    display: flex;
    justify-content: center;
}

.itemCards{
    border: 2px solid black
}

.cardImages{
    max-width: 250px;
    max-height: 300px;
}

.itemForm {
color: blue;
}

/* #MapAndMenu{
    display: relative;
} */
.orgPage{
    justify-content: center;
    text-align: center;
}

.orgContainer{
    color: black;
    width: 50%;
    position: absolute;
    
}
